$color-base: #ffffff;
$color-gray: #efefef;
$color-text: #3f3f3f;
$color-primary: #006Aff;
$color-primary-hover: #1979FF;
$color-success: #009900;
$color-error: #990000;
$box-shadow-focus: 0 0 0 .1875rem hsla(215, 100%, 50%, .5);
$xxx: red;
