html {
	@include font-stack-sans-serif;
	background-color: $color-gray;
}

body::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 7.5rem;
	top: 0;
	left: 0;
	background-color: $color-primary;
}

::-moz-focus-inner {
	border: 0;
}

.js-focus-visible :focus {
	outline: none;
	box-shadow: $box-shadow-focus;
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
	box-shadow: none;
}
