h1 {
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: 700;
	color: $color-stone;
}

p {
	font-size: .875rem;
	line-height: 1.5rem;
	font-weight: 500;
	color: $color-stone;
}

h1 + p {
	margin-top: .75rem;
}

p > a {
	color: $color-sapphire;
	text-decoration: underline;
}
