h2 {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
	color: $color-text;
}

p {
	font-size: .875rem;
	line-height: 1.5rem;
	font-weight: 500;
	color: $color-text;
}

h2 + p {
	margin-top: .75rem;
}

p > a {
	color: $color-primary;
	text-decoration: underline;
}
